:root {
  --black: #1b1917;
  --stroke: #f4f4f4;
  --orange: #e67352;
  --lime: #dbed6a;
  --blue: #378afd;

  --progress-bar-width: 200px;
  --progress-bar-height: 200px;
  --breakdown-progress-bar-width: 60px;
  --breakdown-progress-bar-height: 60px;
  --font-size: 2rem;
}

/* :root {
    --bg_color: #f7f7f8;
    --secondary-blue: #e9f1fc;
    --gray: #adb4bc;
    --black: #0a121c;
    --stroke: #f3f3f3;
    font-family: "General Sans";
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globals */
body {
  background: #ffffff;
  color: var(--dark-black);
  width: 100vw !;
  overflow-x: hidden !important;
}
html {
  font-family: "General Sans", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h1 {
  font-weight: 900;
  font-size: 2.5rem;
}
h2 {
  font-size: 2.15rem;
}
h3 {
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  /* line-height: 150%; */
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-xsm {
  gap: 0.2rem;
}
.gap-sm {
  gap: 0.65rem;
}
.gap-m {
  gap: 0.85rem;
}
.gap-l {
  gap: 1.15rem;
}
.gap-xl {
  gap: 1.45rem;
}
.gap-2xl {
  gap: 1.9rem;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.italic {
  font-style: italic;
}
.text-green {
  color: var(--green);
}
.text-white {
  color: white;
}
.bold {
  font-weight: 700 !important;
}
img {
  max-width: 100% !important;
  max-height: 100%;
}
.text-orange {
  color: var(--orange, #e67352);
  font-weight: 600;
}
.hide {
  display: none !important;
}
.mb-1 {
  margin-bottom: 1.5rem !important;
}
.ml-1 {
  margin-left: 0.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
@media screen and (max-width: 1390px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 86%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 90% !important;
    margin: 0 auto;
  }
  .mobile-hide {
    display: none !important;
  }
  h1 {
    font-size: 2.616rem;
  }
  h2,
  h4,
  h3 {
    font-size: 2.326rem;
  }
  .btn {
    width: 100%;
  }
  .add-new-meal-btn {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}
@media screen and (min-width: 950px) {
  .tab-hide {
    display: none;
  }
}

/* ----- Form ------ */
.main-body {
  min-height: 100vh;
}
.logo {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}
.form-body {
  width: 50%;
}
.form-image {
  width: 50%;
  background: url("images/signup-bg.jpeg") no-repeat center center/cover;
}
.forgot {
  background: url("images/forgot-img.png") no-repeat center center/cover;
}
.signin-img {
  background: url("images/signin-img.png") no-repeat center center/cover;
}
.newpassword-img {
  background: url("images/reset-img.png") no-repeat center center/cover;
}
.form-image img {
  margin: 5rem 0;
}
.form-body-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-body-container header {
  padding: 0 2rem;
}
.form {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form h3,
.form p {
  max-width: 460px !important;
  text-align: center;
  margin: 0 auto;
}
.form h3 {
  margin: 0.4rem auto;

  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
form {
  width: 90%;
}
.signIn .form {
  /* margin-top: -10rem; */
}
.form p {
  color: var(--black, #1b1917);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 70%;
  margin: 0.9rem auto;
}
.form-group {
  width: 100%;
  max-width: 460px !important;
  margin: 1.4rem auto;
  gap: 0.45rem;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--stroke, #f0eef5);
  padding: 1rem 0.9rem;
  font-family: "General Sans";
  font-size: 1rem;
}
.form-group input::placeholder {
  font-family: "General Sans";
}
.form-group input:focus {
  outline: 1px solid #333;
}
.form-group .checkbox {
  width: auto;
}
.form-group label {
  color: var(--black);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.form-group span {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 60px !important;
  accent-color: var(--green);
  cursor: pointer;
}
.form-group input[type="checkbox"]:focus {
  /* outline: none; */
}
.form-group input[type="checkbox"]:checked {
  /* outline: none; */
}
.form-group .btn,
.form-group button a,
.diet-group .btn {
  width: 100%;
  padding: 1.135rem 0;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;

  border-radius: 12px;
  background: var(--blue);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.2s ease, background 0.15s ease;
}
.numpad .btn:hover {
  opacity: 0.95;
}
.form-group .btn:hover {
  border-radius: 8px;
  border: 1px solid var(--stroke, #f3f3f3);
  background: var(--white, #fff);
  color: #333;
}
.from-btn-small a {
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: inline-block;
  padding: 8px 12px;
  width: auto;
  border-radius: 100px;
  border: 1px solid var(--stroke, #f0eef5);
  background: var(--white, #fff);
  transition: background 0.25s ease;
}
.from-btn-small a:hover {
  background: var(--white, #f0eef5);
}
.password-wrap {
  width: 100%;
  position: relative;
}
.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.forgot-password-btn {
  text-decoration: none;
  width: 100%;
  color: var(--black, #1b1917);
  text-align: right;
  font-family: General Sans;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 500;
  margin: 0.5rem 0;
}
.forgot {
  font-size: 0.938rem;
  font-weight: 500;
}
.back-btn {
  font-size: 1.03rem;
  font-weight: 600;
}
.gap-m {
  gap: 0.85rem;
}
@media screen and (max-width: 900px) {
  .main-body {
    flex-direction: column;
    align-items: center;
  }
  .form-image {
    display: none;
  }
  .form {
    margin-top: 6rem;
    padding: 0;
  }
  .form-body {
    width: 100%;
  }
  .form-body-container {
    width: 100%;
  }
  .form-body-container header {
    padding: 0 2rem;
  }
  form {
    width: 93%;
  }
  .signIn .form {
    margin-top: 6rem;
  }
}

/* ------ Dashboard ---- */
.dashboard-container {
  /* border: 1px solid black; */
  height: 100vh;
  /* padding: 0.55rem; */
  padding-right: 0;
  /* overflow-x: hidden; */
  background: #f8f8f8;
}
.sidebar-container {
  width: 22%;
  height: 100vh;
  padding: 0.55rem;
}
.sidebar {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  margin: auto;
  /* top: 50%;
    left: 0.55rem; */
  padding: 0.55rem;
  /* transform: translateY(-50%); */
  /* transform: translate(0.55rem); */
  background: #ffffff;
  color: var(--black, #1b1917);
  border-radius: 20px;
  padding: 1.6rem 1.25rem;
}

.sidebar header {
  margin-bottom: 2.4rem;
}
.sidebar nav li {
  margin: 0.9rem 0;
}
.sidebar nav li a {
  border-radius: 10px;
  font-size: 0.938rem;
  color: #8e8d90;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1.025rem;
  gap: 0.7rem;
  transition: background 0.22s ease;
  position: relative;
}
.sidebar nav li a:hover {
  color: #5d5b5a;
  background: var(--stroke, #f4f4f4);
}
.sidebar nav li a:hover path {
  stroke: #5d5b5a;
  /* display: none; */
}
.nav-active {
  color: #1c1b20 !important;
  background: var(--stroke, #f4f4f4);
}
.sidebar svg path {
  stroke: #8e8d90;
}
.sidebar .nav-active svg path {
  stroke: #292d32;
}
.sidebar .chevron-right {
  position: absolute;
  right: 1.025rem;
}
.main {
  width: 100%;
  padding-right: 1.5rem;
  margin-left: 1rem;
  scroll-behavior: smooth !important;
  overflow-y: scroll;
  overflow-x: hidden !important;
  position: relative;
}
.main-head {
  padding: 1rem 0;
  padding-right: 1rem;
  padding-top: 2.05rem;
  /* border: 1px solid red; */
}
.main-content {
  /* height: 100%; */
  padding-top: 1rem;
  gap: 1.15rem;
}
.main-content_left {
  width: 67%;
  /* border: 1px solid green; */
}
.main-content_right {
  width: 33%;
  /* border: 1px solid orange; */
  padding-left: 10px;
}
.logo-text {
  color: var(--black, #1b1917);
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.logo-text .bold {
  font-size: 1.25rem;
  font-weight: 900 !important;
}
.sidebar-p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.greet-user-text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.card {
  border-radius: 20px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px -10px rgba(26, 30, 31, 0.25);
  padding: 1.3rem 1.275rem;
}

@media screen and (max-width: 1020px) {
  .sidebar-container {
    width: 21%;
  }
  .sidebar {
    padding: 1.6rem 1.1rem;
  }
  .main-content {
    width: 100%;
    flex-direction: column !important;
  }
  .main-content_left {
    width: 80%;
  }
  .main-content_right {
    width: 80%;
  }
  .sidebar li a {
    flex-direction: column;
    text-align: center;
  }
  .modal-container {
    position: fixed !important;
    height: 100vh;
    width: 68% !important;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .dashboard-container {
    flex-direction: column;
    padding-bottom: 6.5rem;
  }
  .main-content_left {
    width: 100%;
  }
  .main-content_right {
    width: 100%;
  }
  .modal-container {
    width: 100% !important;
    z-index: 1000 !important;
  }
  .sidebar-container {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 90 !important;
    padding: 0;
    background-color: white;
  }
  .sidebar {
    width: 100%;
    padding: 0.65rem 1.1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    /* border-top: 1px solid #8e8d9088; */
    padding: 0.6rem 0 !important;

    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  }
  .sidebar header {
    margin-bottom: 0;
  }
  .sidebar nav {
    width: 92%;
    margin: 0 auto;
  }
  .sidebar nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar nav ul li a {
    flex-direction: row;
  }
  .sidebar nav ul li a span {
    display: none;
  }
  .nav-active span {
    display: block !important;
    font-weight: 600 !important;
  }
  .nav-active {
    /* background: transparent !important; */
    padding: 1.15rem 1.25rem !important;
    border-radius: 100px !important;
    background: var(--stroke, #f4f4f4) !important;
  }
  .main-head h1 {
    font-size: 2rem;
  }
  .main-content_right {
    padding-left: 0px;
  }
  .flex-col-rev-mob {
    flex-direction: column-reverse !important;
  }
  .modal-container {
    position: relative;
  }
}
