:root {
  --bg_color: #f7f7f8;
  --secondary-blue: #e9f1fc;
  --gray: #adb4bc;
  --black: #0a121c;
  --blue: #378afd;
  --stroke: #f3f3f3;
  font-family: "General Sans";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
html {
    font-family: General Sans, sans-serif;
    scroll-behavior: smooth;
}

/* -------Commons------- */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.font-bold {
  font-weight: 600;
}
.font-sm{
  font-size: 14px;
}
.font-lg{
  font-size: large;
}
.font-lgr {
  font-size: 20px;
}
.font-xl {
  font-size: x-large;
}
.font-2xl {
  font-size: xx-large;
}
.font-gray {
  color: var(--gray);
}
.font-black {
  color: black;
}
.text-center {
  text-align: center;
}
.text-start{
  text-align: start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.h-screen {
  height: 100vh;
}
.h-full{
  height: 100%;
}
.h-fit{
  height: fit-content;
}
.w-md{
  width: 10rem;
}
.w-full {
  width: 100%;
}
.px-md{
  padding: 1rem 0;
}
.p-xs {
  padding: 5px;
}
.p-sm{
  padding: 10px;
}
.p-md {
  padding: 1rem;
}
.py-md{
  padding: 1rem 0;
}
.m-0 {
  margin: 0;
}
.m-sm {
  margin: 5px;
}
.m-md {
  margin: 1rem;
}
.bg-white {
  background-color: white;
}
.bg-default {
  background-color: var(--bg_color);
}
.gap-xs {
  gap: 7px;
}
.gap-sm {
  gap: 10px;
}
.gap-md {
  gap: 20px;
}
.gap-xl {
  gap: 40px;
}
.rounded-sm {
  border-radius: 8px;
}
.rounded-md {
  border-radius: 12px;
}
.border{
  border: 1px solid var(--stroke);
}
.border-top {
  border-top: 1px solid var(--stroke);
}
.border-right {
  border-right: 1px solid var(--stroke);
}
.border-left {
  border-left: 1px solid var(--stroke);
}
button {
  padding: 0.7rem;
  background-color: var(--blue);
  color: white;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover {
  background-color: #5295f3;
}
a {
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}


/* NEW CODE */
/* ----- Form ------ */
.main-body {
  min-height: 100vh;
}
.logo {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}
.form-body {
  width: 50%;
}
.form-image {
  width: 50%;
  background: url("images/signup-bg.jpeg") no-repeat center center/cover;
}
.forgot {
  background: url("images/forgot-img.png") no-repeat center center/cover;
}
.signin-img {
  background: url("images/signin-img.png") no-repeat center center/cover;
}
.newpassword-img {
  background: url("images/reset-img.png") no-repeat center center/cover;
}
.form-image img {
  margin: 5rem 0;
}
.form-body-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.form-body-container header {
  padding: 0 2rem;
}
.form {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form h3,
.form p {
  max-width: 460px !important;
  text-align: center;
  margin: 0 auto;
}
.form h3 {
  margin: 0.4rem auto;

  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
}
form {
  width: 90%;
}
.signIn .form {
  /* margin-top: -10rem; */
}
.form p {
  color: var(--black, #1b1917);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 70%;
  margin: 0.9rem auto;
}
.form-group {
  width: 100%;
  max-width: 460px !important;
  margin: 1.4rem auto;
  gap: 0.45rem;
}
.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--stroke, #f0eef5);
  padding: 1rem 0.9rem;
  font-family: "General Sans";
  font-size: 1rem;
}
.form-group input::placeholder {
  font-family: "General Sans";
}
.form-group input:focus {
  outline: 1px solid #333;
}
.form-group .checkbox {
  width: auto;
}
.form-group label {
  color: var(--black);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 18.2px */
}
.form-group span {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.form-group input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 60px !important;
  accent-color: var(--green);
  cursor: pointer;
}
.form-group input[type="checkbox"]:focus {
  /* outline: none; */
}
.form-group input[type="checkbox"]:checked {
  /* outline: none; */
}
.form-group .btn,
.form-group button a,
.diet-group .btn {
  width: 100%;
  padding: 1.135rem 0;
  border: none;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;

  border-radius: 12px;
  background: var(--blue);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 0.2s ease, background 0.15s ease;
}
.numpad .btn:hover {
  opacity: 0.95;
}
.form-group .btn:hover {
  border-radius: 8px;
  border: 1px solid var(--stroke, #f3f3f3);
  background: var(--white, #fff);
  color: #333;
}
.from-btn-small a {
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: inline-block;
  padding: 8px 12px;
  width: auto;
  border-radius: 100px;
  border: 1px solid var(--stroke, #f0eef5);
  background: var(--white, #fff);
  transition: background 0.25s ease;
}
.from-btn-small a:hover {
  background: var(--white, #f0eef5);
}
.password-wrap {
  width: 100%;
  position: relative;
}
.eye {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.forgot-password-btn {
  text-decoration: none;
  width: 100%;
  color: var(--black, #1b1917);
  text-align: right;
  font-family: General Sans;
  font-size: 0.938rem;
  font-style: normal;
  font-weight: 500;
  margin: 0.5rem 0;
}
.forgot {
  font-size: 0.938rem;
  font-weight: 500;
}
.back-btn {
  font-size: 1.03rem;
  font-weight: 600;
}
.gap-m {
  gap: 0.85rem;
}
@media screen and (max-width: 900px) {
  .main-body {
    flex-direction: column;
    align-items: center;
  }
  .form-image {
    display: none;
  }
  .form {
    margin-top: 6rem;
    padding: 0;
  }
  .form-body {
    width: 100%;
  }
  .form-body-container {
    width: 100%;
  }
  .form-body-container header {
    padding: 0 2rem;
  }
  form {
    width: 93%;
  }
  .signIn .form {
    margin-top: 6rem;
  }
}

/* NEW CODE END */

/* -------Dashboard------- */
.dashboard {
  background-color: var(--bg_color);
}
/* -------Sidebar------- */
.sidebar-container{
    padding: 2rem 3rem;
    border-right: 1px solid var(--stroke);
    width: 20%;
    height: calc(100vh - 2rem);
}
.sidebar {
  margin-top: 3rem;
}
.side-items-container {
  list-style: none;
  gap: 8px;
  padding: 0;
}
.side-item {
  padding: 10px 12px 10px 10px;
  min-width: 10rem;
  color: var(--gray);
  cursor: pointer;
  text-decoration: none;
}
.side-item.active {
  background-color: var(--secondary-blue);
  color: black;
}
.side-item:hover {
  background-color: var(--bg_color);
  color: black;
}
.side-item path {
  fill: var(--gray);
}
.side-item.active path {
  fill: black;
}
.side-item:hover path {
  fill: black;
}
/* -------Dashboard-Main------- */
.main{
    padding: 1rem;
    width: 80%;
    min-height: calc(100vh - 2rem);
}

.overview-container {
  width: 60%;
}
.box-container {
  gap: 1rem;
}
.box {
  padding: 1rem 4rem 1rem 2rem;
  background-color: white;
}
.chart-container {
  padding: 1rem 4rem 1rem 2rem;
}
.rect {
  width: 12px;
  height: 12px;
}
.rect.blue {
  background-color: blue;
}
.rect.gray {
  background-color: #aac2dd;
}
#chart {
  margin: 2rem 0;
}
/* -------Transactions------- */
.transactions-container {
  width: 40%;
  padding: 1.2rem;
  overflow: hidden;
}
.row {
  gap: 40px;
  padding: 1rem 1.5rem;
}
.head {
  padding: 0.7rem 1.5rem;
}

/* -------Clients------- */
.clients-table{
    width: calc(100% - 3rem);
}
input {
  width: 18rem;
  padding: 0.7rem 2rem;
  border: 1px solid var(--stroke);
  border-radius: 8px;
  outline-color: var(--blue);
}
.search-input {
  background-color: var(--bg_color);
}
.search-input + svg {
  position: absolute;
  top: 10px;
  left: 10px;
}
.search-input:focus + svg path {
  stroke: var(--gray);
}
.odd-btn {
  background-color: white;
  box-shadow: 0px 0px 20px -10px rgba(55, 138, 253, 0.4);
  color: black;
  font-weight: 500;
  font-size: 14px;
}
.odd-btn:hover {
  background-color: var(--gray);
}
.page-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-btn.active {
  background-color: var(--blue);
  color: white;
}


/* -----Client----- */
.card{
  width: 50%;
}
.growth{
  padding: 3px 6px;
  border-radius: 6px;
  font-weight: 600;
}
.growth.negative{
  background-color: #FFEFF4;
  color: #F85988;
}
.growth.positive{
  background-color: #DAFFEF;
  color: #14D885;
}
.growth.normal{
  background-color: #FFFCE1;
  color: #EDBE17;
}

@media screen and (max-width: 1067px) {
  .side-item span{
      flex-direction: column;
      align-items: start;
  }
  .side-item{
    min-width: 7rem;
  }
}
@media screen and (max-width: 967px) {
    .main{
        flex-direction: column;
    }
    .overview-container{
        width: 100%;
    }
    .transactions-container{
        width: calc(100% - 6rem);
    }
    .sidebar-container{
        padding: 2rem 2rem;
    }
    .clients-table{
        width: 100% !important;
    }
}
@media screen and (max-width: 867px) {
  .signup-container > img {
    display: none;
  }
  .signup {
    width: 100vw;
  }
}
@media screen and (max-width: 767px) {
    .mobile-hide {
        display: none !important;
    }
    .main{
        width: 100%;
    }
    .sidebar{
        margin: 0;
    }
    .sidebar-container{
        position: fixed;
        width: 100vw;
        bottom: 0;
        border-radius: 12px;
        box-shadow: 0px 0px 20px -10px rgba(55, 138, 253, 0.30);
        padding: 0;
        height: fit-content;
    }
    .side-items-container{
        flex-direction: row;
        justify-content: space-around;
    }
    .side-item.active > span *{
        display: inline !important;
    }
    .side-item span{
        flex-direction: row;
        align-items: center;
    }
}